@import url('https://use.typekit.net/gds2vss.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fcfcfc;
  font-family: 'effra', 'Helvetica Neue', Helvetica, sans-serif;
  min-height: 100vh;
}

button {
  display: inline;
  outline: none;
  border: 0;
  border-radius: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  color: inherit;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}
